* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: var(--letterspacing-sm);
  text-align: center;
}

h3 {
  font-weight: 500;
  line-height: 1.29;
  color: #27c19e;
  padding-left: 5px
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  text-align: left;
  color: #4a4a4a;
  padding-left: 5px;
}

button {
  text-transform: uppercase;
  padding: 10px 20px;
  outline: none;
  font-weight: bold;
  letter-spacing: var(--letterspacing-sm);
}

footer {
  display: flex;
  align-items: center;
  height: 50px;
}

form {
  padding: 0;
  margin: 0;
  border: none;
  font-size: 16px;
}

form ::placeholder {
  color: var(--med-grey);
}


:root {
  --gutter: 20px;
  --brand-color: #27b7c1;
  --letterspacing-sm: 1px;
  --letterspacing-md: 3px;
  --letterspacing-lg: 5px;
  --white: #fff;
  --light-grey: #f5f5f5;
  --med-grey: #aaa;
  --dark-grey: #555;
  --test-pink: pink;
  --trans: .3s;
  --shadow-1: 0px 2px 5px rgba(0,0,0,.3);
  --shadow-2: 0px 5px 10px rgba(0,0,0,.5);
}


/* HEADER */

header {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: var(--letterspacing-lg);
  color: var(--brand-color);
}


/* TYPE */
.section-title {
  font-weight: normal;
  letter-spacing: var(--letterspacing-md);
  color: var(--dark-grey);
  text-transform: uppercase;
}

/* LAYOUT */
.row {
  margin: 20px auto 60px;
}

/* HERO */

main {
  margin: 0 auto;
  padding: 4rem 0;
  color: white;
  text-align: center;
  background-image: url('../assets/hero-bg-rain.jpg');
  background-size: cover;
  text-align: center;
  border-bottom: 5px solid var(--brand-color);
}

main h1 {
  font-size: 45px;
}

/* SEARCH BOX */

.search-box {
  display: flex;
  justify-content: center;
  color: #444;
  font-size: 16px;
  margin: 20px auto;
}

.search-box .icon {
  height: 20px;
  width: 20px;
  opacity: .2;
  margin-left: 5px;
}

.search-box input {
  height: 40px;
  min-width: 350px;
  outline: none;
  background: none;
  border: none;
  padding-left: 10px;
  font-size: 1rem;
}

.search-box button {
  border: 1px solid var(--brand-color);
  background: #fff;
  color: var(--brand-color);
  transition: var(--trans);
  height: 100%;
}

.search-box button:hover {
  cursor: pointer;
  background: var(--brand-color);
  color: var(--white);
}

.search-box form {
  display: flex;
  align-items: center;
  background: var(--light-grey);
  padding: 4px 5px;
  box-shadow: var(--shadow-1);
  transition: var(--trans);
}

.search-box input:active,
.search-box input:focus {
  background: var(--white);
  transition: var(--trans);
}

form:focus-within {
  background: var(--white);
  box-shadow: var(--shadow-2);
}


/* WEATHER CARD */

.weather {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: var(--gutter);
}

.weather-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: var(--shadow-1);
}

.weather-day {
  text-align: center;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: var(--letterspacing-sm);
  font-weight: bold;
  color: var(--dark-grey);
}

.weather-icon {
  margin: 20px auto;
  width: 60px;
  height: 60px;
}

.weather-temps {
  display: flex;
  justify-content: space-between;
}

.weather-temps .low {
  font-size: 1rem;
  color: var(--med-grey);
}

.weather-temps .high {
  font-size: 1rem;
  color: var(--dark-grey);
}



/* Venues */
.venues {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: var(--gutter);
}

.venue {
  box-shadow: var(--shadow-1);
}

.venue-img {
  width: 100%;
  max-width: 100%;
}

.venue-details {
  padding: 20px;
}

.venue-name {
  text-align: center;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: var(--letterspacing-sm);
  font-weight: bold;
  color: var(--dark-grey);
  margin-bottom: 20px;
}

.container {
  max-width: 900px;
  margin: 20px auto;
  visibility: hidden;
}

#destination {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: var(--letterspacing-sm);
  text-align: left;
  color: #27b7c1;
}

